html {
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
    border-radius: 999px;
    border: 10px solid transparent;
}

::-webkit-scrollbar-track {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2) inset;
    background: rgba(240, 240, 240, 0.5);
}

::-webkit-scrollbar-thumb {
    min-height: 20px;
    background-clip: content-box;
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.2) inset;
    background: rgba(216, 216, 216, 0.5);
}

::-webkit-scrollbar-corner {
    background: transparent;
}

::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
}